<template>
    <iframe src="https://open.spotify.com/embed/user/1120934109/playlist/4Hk1YYqHIkOOXiVpWS9rcE" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</template>

<script>
  export default {
    name: 'Music'
  }
</script>

<style scoped>

</style>