<template>
    <el-menu :router="true" :default-active="activeIndex" class="el-menu-demo" mode="horizontal">
        <el-menu-item index="/">Home</el-menu-item>
        <el-menu-item index="/Music">Music</el-menu-item>
        <el-menu-item index="/Prime">Prime</el-menu-item>
        <el-menu-item index="/I18n">I18n</el-menu-item>
        <el-menu-item index="/Graph">Graph</el-menu-item>
    </el-menu>
</template>

<script>
  export default {
    name: 'navMenu'
  }
</script>

<style scoped>

</style>