<template>
    <div class="hello">
        <p>Prime</p>
        <p>Enter a number</p>
        <input type="number" v-model="number">
        <button v-on:click="find(), list()">Valider</button>
        <p>Your number is {{number}}</p>
        <p>Prime number is {{ prime }}</p>
        <ul>
            <li v-for="number in tenLast">
                {{ number.newPremier }}
            </li>
        </ul>
    </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'Prime',
    data () {
      return {
        number: null,
        prime: null,
        nbTab: [],
        last: [],
        tenLast: []
      }
    },
    methods: {
      newPremier (nbAdd) {
        axios.post('http://localhost:8081/new', {
          newPremier: nbAdd
        })
        .then(function (res) {
          console.log(res)
        })
        .catch(function (err) {
          console.log(err)
        })
      },
      list () {
        axios.get('http://localhost:8081/premier')
        .then((res) => {
          this.tenLast = res.data
        })
        .catch((err) => {
          console.log(err)
        })
      },
      find () {
        this.nbTab = []

        for (let i = -1; i < parseInt(this.number) + 1; i++) {
          if (this.isPrime(i)) {
            this.nbTab.push(i)
          }
        }
        this.prime = this.nbTab.pop()
        if (!isNaN(this.prime)) {
          this.newPremier(this.prime)
        }
      },
      isPrime (nb) {
        let i = 2

        while (nb % i !== 0) {
          if (i > nb) {
            break
          }
          i++
        }
        if (i === nb) {
          return (1)
        } else {
          return (0)
        }
      }
    },
    mounted () {
      axios.get('http://localhost:8081/premier')
      .then((res) => {
        this.tenLast = res.data
      })
      .catch((err) => {
        console.log(err)
      })
    }
  }
</script>

<style scoped>
li {
    list-style: none;
}
</style>